<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <meta charset="utf-8">
    <title>GameScraper</title>
  </head>
  <body>
    <!-- <header>
    </header> -->
    <!-- navigation bar -->
    <nav>
    <div class="nav-wrapper">
      <a href="{% url 'home' %}" class="brand-logo center">Game<span class="span-blue">Scraper</span></a>
      <ul id="nav-mobile" class="left">
        <li>
          <form action="{% url 'home' %}" method="POST">
          {% csrf_token %}
          <div class="input-field">
            <input id="search" placeholder="game search" name="game_search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </li>
      </ul>
      <ul id="nav-mobile" class="right">
        <li><a href="{% url 'favorites' %}">Favorites</a></li>
      </ul>
    </div>
  </nav>

  <main>

{% block content %}
 <!-- this is where the other pages content will be -->
{% endblock %}

  </main>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <footer class="">
         <div class="container">
           <div class="row">

             <div class="col">
               <p id="favorites" class="grey-text text-lighten-4">More info about this app can be found <a href="https://github.com/TR-1000/the_final_countdown">here</a>.</p>
             </div>

             <div class="col wide">
               <div class="container">
                 <p><a target="_blank" href="https://azure.microsoft.com/en-us/services/cognitive-services/bing-web-search-api/">Bing API</a></p>
                 <p><a target="_blank" href="https://rawg.io/apidocs">RAWG API</a></p>
               </div>

             </div>

             <div class="col wide">
               <div class="container">
                 <p><a target="_blank" href="https://store.steampowered.com/">Steam</a></p>
                 <p><a target="_blank" href="https://www.amazon.com/">Amazon</a></p>
               </div>
             </div>

             <div class="col wide">
                 <div class="container">
                   <p><a target="_blank" href="https://gamepedia.com/">Gamepedia</a></p>
                   <p><a target="_blank" href="https://ign.com/">IGN</a></p>
                 </div>
             </div>


           </div>
         </div>
       </footer>
</html>
