{% extends "base.html" %}
{% block content %}


  <!------ Home View ------------------------------------------------->
  {% if search == False %}

    <!-- Amazon -->
    <div class="container">
      <div class=" card item-contain blue-card">
        <h2 id="favorites" >Amazon's top results for Video Games</h2>
          {% for item in amazon_featured %}
          <div class="card horizontal amazon">
            <div class="card-image">
              <img src="{{item.image}}">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <h5>{{item.title}}</h5>
                <h6>{{item.price}}</h6>
                <a class="card-action" href="{{article.url}}" target="_blank" ><h6>Amazon Link</h6></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    <!-- Steam -->
    <div class="container">
      <div class=" card item-contain blue-card">
        <h2 id="favorites">Latest News from Steam</h2>
        {% for item in steam_news %}
          <div class="card amazon">
            <div class="card-image">
              <img src="{{item.image}}">
            </div>
            <div class="card-content">
              <h5>{{item.title}}</h5>
              <a href="{{item.url}}" target="_blank"><h6>Steam Link</h6></a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Gamepedia -->
      <div class="container">
        <div class=" card item-contain blue-card">
          <h2 id="favorites">Latest News from Gamepedia</h2>
          {% for article in gamepedia_articles %}
          <div class="card amazon">
            <div class="card-image">
              <img src="{{article.image}}">
            </div>
            <div class="card-content">
              <h4>{{article.title}}</h4>
              <h5>Source: Gamepedia</h5>
              <h6>{{article.author}}</h6>
              <small><h6>{{article.time}}</h6></small>
              <a href="{{article.url}}" target="_blank" ><h6>Read More at Gamepedia</h6></a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  {% endif %}





    <!------------------- SEARCH VIEW  ----------------------------->




  <!-- Rawg API -->
  {% if search == True %}
    {% for game in rawg_api.results %}
    <div class="container">
      <div class="card blue-card main-search">
        <div class="card">
          <div class="card-image">
            <img src="{{game.background_image}}">
            <span class="card-title">{{game.name}}</span>
          </div>
          <div class="card-content">

            <!-- Favorites form -->
            <form action="{% url 'favorites' %}" method="POST">
              {% csrf_token %}
                <input id="image" value="{{game.background_image}}" name="image" type="hidden">
                <input id="title" value="{{game.name}}" name="title" type="hidden" required>
                <button class="btn" type="submit" name="action">Add to Favorites
                  <i class="material-icons right">add_circle</i>
                </button>
              </form>
              <br>
              <div class="content-contain">
                <div class="contain-cover">
                  <img src="{{bing_api.entities.value.0.image.hostPageUrl}}" alt="{{game.name}} Cover" class="cover">
                  <br>
                </div>
                <div class="contain-description">
                  <p><span>Genre: </span>{{bing_api.entities.value.0.entityPresentationInfo.entityTypeDisplayHint}}</p>
                  <br>
                  <p><span>Release Date: </span> {{game.released}}</p>
                  <br>
                  <p>{{bing_api.entities.value.0.description}}</p>
                </div>
              </div>
            </div>
            {% if game.clip != null %}
              <div class="card-video">
                <iframe class="video_frame" src="{{game.clip.clips.full}}" width="560" height="315"></iframe>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}

    <!-- Steam search -->
    <div class="container">
      <div class=" card item-contain blue-card">
        <h2 id="favorites" >Steam's top results for {{game_title}}</h2>
          {% for item in steam_search %}
          <div class="card amazon">
            <div class="card-image">
              <img src="{{item.image}}">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <h5>{{item.title}}</h5>
                <h6>Released: {{item.released}}</h6>
                <h6>{{item.price}}</h6>
                <a class="card-action" href="{{item.url}}" target="_blank" ><h6>Steam Link</h6></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    {% if amazon_search == None %}
    <div class="container">
      <div class=" card item-contain blue-card">
      <h3 class="favorites">Amazon is being a douche. Try reloading</h3>
      </div>
    </div>
    {% else %}
      <div class="container">
        <div class=" card item-contain blue-card">
          <h2 id="favorites" >Amazon's top search results for <!-- Steam search -->
          <div class="container">
            <div class=" card item-contain blue-card">
              <h2 id="favorites" >Steam's top results for {{game_title}}</h2>
                {% for item in steam_search %}
                <div class="card amazon">
                  <div class="card-image">
                    <img src="{{item.image}}">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <h5>{{item.title}}</h5>
                      <h6>Released: {{item.released}}</h6>
                      <h6>{{item.price}}</h6>
                      <a class="card-action" href="{{item.url}}" target="_blank" ><h6>Steam Link</h6></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div></h2>
            {% for item in amazon_search %}
            <div class="card horizontal amazon">
              <div class="card-image">
                <img src="{{item.image}}">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <h5>{{item.title}}</h5>
                  <h6>{{item.price}}</h6>
                  <a class="card-action" href="{{article.url}}" target="_blank" ><h6>Amazon Link</h6></a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    {% endif%}


    <!-- BING NEW -->
    <div class="container">
      <div class="card item-contain blue-card">
        <h2 id="favorites">Bing News Results</h2>
      {% for article in bing_api.news.value %}
        <div class="card amazon">
          <div class="card-image">
            <img src="{{ article.image.contentUrl }}">

          </div>
          <div class="card-content">
            <span class="article-title">{{ article.name }}</span>
            <p>{{ article.description}}</p>
          </div>
          <div class="card-action">
            <a href="{{ article.url }}">Read More...</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <!-- Bing Images -->
    <div class="container">
      <div class="card item-contain blue-card">
        <h2 id="favorites">Bing Image Results</h2>
          {% for image in bing_api.images.value %}
            <div class="card amazon">
              <div class="card-image">
                <a href="{{ image.hostPageDisplayUrl }}" target="
                " class=><img src="{{ image.contentUrl }}" alt=""></a>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>

    <!-- Bing Video -->
    <div class="container">
      <div class="card item-contain blue-card">
        <h2 id="favorites">Bing Video Results</h2>
          {% for video in bing_api.videos.value %}
          <iframe class="bing_frame" src="{{video.webSearchUrl}}" width="" height=""></iframe>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{%endblock %}
