{% extends "base.html" %}
{% block content %}

<!-- Form to add games -->
<form id="favorites_form" action="" method="POST">
  <label  for="title">
  {% csrf_token %}
  {{form.as_p}}
  </label>
  <button class="btn waves-effect waves-light" type="submit" name="action">Edit Game
   <i class="material-icons right">add_circle</i>
 </button>
</form>


  <!-- {{games}} -->


<h1 id="favorites">Favorite Games</h1>

{% for game in games %}
<div class="container">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><h4>{{game}}</h4></span>
        <form action="{% url 'home' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="game_search" value="{{game}}">
          <button class="btn waves-effect waves-light" type="submit" name="action">Get Info
           <i class="material-icons right">info</i>
         </button>
        </form>
      </div>
      <div class="card-action">
        <a href="{% url 'delete' game.id %}">remove from favorites</a>
      </div>
    </div>
  </div>
</div>

{% endfor %}



{% endblock %}
